<%- include('header') -%>
    <h1> Fræðslumyndbandaleigan </h1>
    <% videos.categories.forEach((category) => { %>
        <section>
            <div class="videos-grid">
                <div class="title-row">
                    <h2 class="category-title"><%= category.title %></h2>
                </div>
                <div class="videos-row">
                    <% category.videos.forEach((video) => { %>
                        <div class="video">
                            <a href="test/<%= videos.videos[video-1].id %>" class="video-link">
                                <div class="video-image">
                                    <img src="<%= videos.videos[video-1].poster %>" alt="<%= videos.videos[video-1].title %>">
                                    <small class="video-length"><%= locals.lengthOfVideo(videos.videos[video-1].duration)%> </small>
                                </div>
                                <div class="video-info">
                                    <h3 class="video-title"><%= videos.videos[video-1].title %></h3>
                                    <small class="video-created"> <%= locals.videoCreated(videos.videos[video-1].created) %> </small>
                                 </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    <% }) %>

<%- include('footer') -%>