<%- include('header') -%>
    <h1> <%= video.videos[id-1]?.title %> </h1>
    <section>
        <div class="video-grid">
            <video class="Video-to-show" controls>
                <source src="../<%= video.videos[id-1]?.video %> " type="video/mp4">
                    Your browser does not support the video tag.
            </video>
            <div class="video-description">
                 <p><%= video.videos[id-1]?.description %> </p>
            </div>
            <div class="connected-title">
                <h3>Tengd myndbönd</h3>
            </div>
            <div class="connected-row">
                <% video.videos[id-1]?.related.forEach((relatedVideo) => { %>
                  <div class="connected-video">
                    <a href="<%= video.videos[relatedVideo-1]?.id %>" class="video-link">
                        <div class="video-image">
                            <img src="/<%= video.videos[relatedVideo-1]?.poster %>" alt="<%= video.videos[video-1]?.title %>">
                        </div>
                        <div class="video-info">
                            <h3 class="video-title"><%= video.videos[relatedVideo-1]?.title %></h3>
                            <small class="video-created"> <%= locals.videoCreated(video.videos[relatedVideo-1]?.created) %> </small>
                        </div>
                    </a>
                  </div>
            <% }) %>
          </div>
        </div>
    </section>
    

   

<a class="back" href="/">Til baka</a>

<%- include('footer') -%>